@model IEnumerable<NET5_test.Models.Item>;

<div class="containerp-3">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary">Filtrated Items List</h2>
        </div>



    </div>

    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>

                    <th>
                        Borrower
                    </th>

                    <th>
                        Lender
                    </th>

                </tr>
            </thead>

            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td width="25%">@a.ItemName</td>

                        <td width="25">@a.Borrower</td>

                        <td width="25%">@a.Lender</td>


                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>No items found</p>
    }

</div>


<div class="container">
    <div class="row">

        <div class="col-4">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go to home page</a>
        </div>

        <div class="col-4">
            <a class="btn btn-primary" asp-controller="Item" asp-action="IFind">Search again</a>
        </div>

    </div>
</div>
